/runs/
/Plot_figure/
/data/HemiBrain/raw/skeleton/
*.pyc
*.log
/.vscode/
__pycache__/
processed/
.ipynb_checkpoints/
/data/
/private_config/
environment*.yml
/NCPNet.egg-info/
/dist/
/build/
/test/
/.vscode/
/.git/